@import url('https://fonts.googleapis.com/css2?family=Crimson+Text');

body {
    font-family: 'Crimson Text', serif;
    background-color: beige;
}


form {
    margin: 1em 0;
}

.cols-2 > .col {
    width: 50%;
    float: left;
}

.container {
    width: min(1200px, 98%);
    margin-inline: auto;
}